{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}" />
{% endblock %}

{% block content %}
{% for i in content %}
<div class="mt-5 pt-5 bg-white custom-shadow rounded">
  <h2 class="m-2"><strong>{{ i.text_on_page }}</strong></h2>
  <p class="m-2">{{ i.content }}</p>
</div>
{% endfor %}
{% endblock %}

{% block footer %}
  <footer class="py-4 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
  </footer>
{% endblock %}
